# Core scientific and data handling
numpy
scipy
pandas
openpyxl
scikit-learn
matplotlib

# FEM and Visualization
pyvista

# Mesh generation
gmsh

# Web API
fastapi
uvicorn[standard]
pydantic
pydantic-settings>=2.1
httpx

# Web UI
streamlit
requests
plotly
sphinx
sphinx-rtd-theme

# Testing
pytest
pytest-cov
codecov

ruff

ipywidgets>=8,<9
